* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* general styles */
.container {
    width: 1110px;
    margin: 0 auto;
}

/* Header */
.header {
    background: #C8A35F;
    color: #FFFFFF;
    padding: 16px 0;
}

.header .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header .container .lang {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.header .container .lang p {
    text-transform: uppercase;
    opacity: 0.6;
}

.header .container .lang p.active {
    opacity: 1;
}

.navbar {
    background: #2f343a;
    color: #FFFFFF;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container .logo {
    display: flex;
    align-items: center;
}

.navbar .container .logo img.border {
    border-right: 1px solid #FFFFFF;

    margin-right: 30px;
    padding-right: 30px;
}

.navbar .container .logo .location{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar .container .logo .location span {
    color: #FFFFFF;
    font-size: 14px;
}